<% content_for :menu_bar do %>
    <%= render 'leader/leaders/menubar' %>
<% end %>

<% content_for :content do %>
    <div class="row">
      <div class="widget">
        <div class="widget-header">
          <div style="background-color: #eea236">
            <h3>Most recent survey result</h3>
          </div>
        </div>
        <div class="widget-content">
          Some charts will be shown here
        </div>
      </div>
    </div>
<% end %>
<%= render template: 'layouts/application' %>