<ul>
  <li class="menu-home">
    <%= link_to :employee_index do %>
        <i class="fa fa-home fa-2x"></i><br> Home
    <% end %>
  </li>
  <li class="menu-surveys">
    <%= link_to :employee_surveys_all do %>
        <i class="fa fa-file-text fa-2x"></i><br> Surveys
    <% end %>
  </li>
</ul>