<% content_for :menu_bar do %>
    <%= render @menubar %>
<% end %>

<% content_for :content do %>
    <div class="well" style="margin-left: 57px; margin-right: 57px; padding-left: 42px; padding-right:42px; padding-top: 10px;">
      <h3 style="color: #FF8000; font-weight: bold;">
        <i class="fa fa-exclamation-circle"></i> You have already done this survey !
      </h3>
      <p style="color:#6E6E6E; font-style: italic;">Once submitted, your responses cannot be modified.</p>
    </div>
<% end %>
<%= render template: 'layouts/application' %>