// Place all the styles related to the leader/surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_survey {
  fieldset {
    background-color: #f2f2f2;
    padding: 30px;
    border: 1px solid #BCBCBC;
    margin-bottom: 36px;
    border-radius: 6px;

    input[type=radio] {
      margin-right: 6px;
    }

    input[type=radio] + label {
      margin-right: 24px;
    }

    legend {
      display: inline;
      width: auto;
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      border: none;
    }
  }

  #confirm-survey {
    width: 100px;
  }
}