<% content_for :menu_bar do %>
    <%= render 'employee/employees/menubar' %>
<% end %>

<% content_for :content do %>
    <p>Hello, congrat!</p>
    <p><%= @confirmation.inspect %></p>
<% end %>
<%= render template: 'layouts/application' %>