/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui/dialog
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui/dialog";

html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  background-color: #e7e7e7;
  padding: 0;
}

#content-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 100px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

footer {
  display: block;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  color: #BDBDBD;
  padding: 15px 23px 5px 23px;
  margin-top: 20px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 7px;
}

#navbrand-lbn {
  background-image: url(asset-path('lbnlogo.png'));
  background-size: 100% 100%;
  width: 180px;
}

.dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-inverse, .navbar-header, .dropdown-menu {
  background-color: #000000;
}

.dropdown-menu > li > a > i {
  margin-right: 20px;
}

hr {
  display: block;
  margin: 0.5em auto 0.5em auto;
  border: 1px inset #848484;
}

#thumbnails-user {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin-left: 10px;
}