// Place all the styles related to the employee/employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menubar {
  ul {
    height: 100px;
    display: block;
    padding: 0;
  }

  li {
    float: left;
    list-style: none;
  }

  a {
    padding: 15px 18px 18px 18px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 200px;
    height: 100px;
    font-size: 120%;
    line-height: 210%;
  }

  .menu-home {
    margin-right: 7px;
    background-color: #ef183a;
  }

  .menu-surveys {
    background-color: #819f00;
  }
}

.widget {
  background-color: #ffffff;
  margin-top: 15px;

  .widget-header {
    height: 50px;

    div {
      display: inline-block;
    }

    h3 {
      margin: 0;
      font-size: 90%;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 50px;
      background-color: #000000;
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      left: 36px;
    }
  }

  .widget-content {
    padding: 20px;

    .info-bonus {
      font-style: italic;
    }
  }
}

.row {
  margin-bottom: 15px;
}

.my-profile {
  margin-top: 24px;
  margin-bottom: 30px;

  #zone-picture {
    text-align: center;

    img {
      width: 200px;
      height: 200px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      border: 10px solid #ffffff;
      -webkit-box-shadow: 5px 5px 5px #848484;
      -moz-box-shadow: 5px 5px 5px #848484;
      box-shadow: 5px 5px 5px #848484;
    }

    #upload_img {
      display: none;
    }
  }

  #zone-info {
    table {
      display: table;
      width: 100%;

      td, th {
        line-height: 36px;
      }

      th {
        width: 15%;
      }

      td {
        width: 65%;
      }
    }
  }
}

#dialog-form {
  div {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  input {
    float: right;
  }
}

.zone-button {
  text-align: center;

  a, input[type=submit] {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.ui-dialog-buttonset {
  button {
    background: #e6e6e6 url(asset-path('ui-bg_glass_75_e6e6e6_1x400.png')) 50% 50% repeat-x;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    color: #555555;
    height: 30px;
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
}